<footer>
    <p id="copyright">Copyright PokeTrader</p>
    <a href='/extra/about'><p class="footerContent">About</p></a>
    <p class="footerContent">|</p>
    <a href='/extra/contact'><p class="footerContent">Contact</p></a>
</footer>
</body>
</html>