<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>PokeTrader</title>
</head>
<body>
    <div class="topnav">
        <a href="/"  id="logo"><p>IMAGEon</p></a>
        <div class="navRight">
            <a href='/account' id="homeLogin">Get Started</a>
        </div>        
        <div class="navCentered">
            <a href='/trades/new' class="navClass">Images</a>
            <a href='/trades' class="navClass">Discover</a>
            <a href='/' class="navClass">Upload</a>
        </div>
    </div>