<%- include('./partials/header.ejs')%>
    <div class="paralax"></div>   
    <div class = "content">
        <h1 id="splashText">Images ReIMAGEoned</h1>
    </div>
    <div id="backCover"></div>
<!--<%- include('./partials/footer.ejs')%>-->